body {
    background-color:rgb(43, 39, 39);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}
.post {
    background-color: rgb(255, 255, 255);
    width: 22rem;
    padding: 0.6rem;
    margin-top: 4rem;
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
.header-left{
    display: flex;
    width: 7rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.header-letters{
    margin-left: 0.5rem;
}
.post-img{
    margin: 0;
}
.post-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}